
{% extends "Aplicacion1/padre.html" %}
{% load static %}

{% block seccion_nombre %}

    <h1>Grupo {{ grupo }}</h1>
    <br>
    <br>
{% endblock %}

{% block cuerpo %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Subir post">
</form>
<br>
<a href="{% url 'Aplicacion2:grupos' %}"><button type="button" class="btn btn-primary">Cancelar, volver al inicio</button></a>



{% endblock %}