{% extends "Aplicacion1/Padre.html" %}
{% load static %}

{% if grupo_posts %}

    {% block seccion_nombre %}

        <h1>Grupo {{ grupo }}</h1>
        <br>
        <br>
        
        
        <a href="{% url 'Aplicacion2:post' grupo %}"><button type="button" class="btn btn-primary">Crear nuevo post</button></a> <br><br><hr>
        
    {% endblock %}

    {% block cuerpo %}
        

        {% for post in grupo_posts %}

            {% if post.imagen %}
                <img src="{{ post.imagen.url }}" class="rounded float-start" alt="..."width="1000" height="450"> 
                <br><br> <hr>
            {% endif %}

            {% if post.video %}
                <video width="1000" height="450" class="embed-responsive embed-responsive-16by9" controls="controls">
                    <source src="{{ post.video.url }}" type="video/mp4"/>
                </video>
            {% endif %}

            <h3>{{ post.nombrePost }}</h3>
            <p>{{ post.CuerpoPost | safe }}</p>
            <p>{{post.fechaPublicacion}}</p>
            <p><a href="{% url 'Aplicacion1:perfil' request.user.username %}"><p>{{post.user}}</p></a> 
            {% if post.user.id == user.id %}
                 <a href="{% url 'Aplicacion2:edit_post' post.id %}">editar</a>- 
                  <a href="{% url 'Aplicacion2:delete_post' post.id %}">Borrar</a>
            {% endif %}
<!-- Aquí puedes comienzan los comentarios -->
            <br><br>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Comentarios
                </a>
                <a href="{% url 'Aplicacion2:add_g_comment' post.pk%}">
                <button class="btn btn-primary" type="button">
                Comentar
                </button>
                </a>
            </p>
            {% if not post.Gcomments.all %}
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        No hay comentarios aun...
                    </div>
                </div>

            {% else %}

                {% for comment in post.Gcomments.all %}

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            {{comment.user.username}} <br>
                            {{comment.body}}

                            {% if comment.user.id == user.id %}

                                <a href="{% url 'Aplicacion2:edit_g_comment' comment.id %}">Editar</a>
                                <a href="{% url 'Aplicacion2:delete_g_comment' comment.id %}">Eliminar</a>

                            {% endif %}

                        </div>
                    </div>
                {% endfor %}

            {% endif %}




            <hr>
           
        {% endfor %}
    {% endblock %}
{% else %}
    <h1>Lo sentimos, la pagina requerida no existe.</h1>
{% endif %}