{% extends "Aplicacion1/Padre.html" %}
{% load static %}


{% block seccion_nombre %}
<h1>Listado de posts
</h1>    
<h2>{{mensaje}}</h2>
<br>
<a href="{% url 'Aplicacion1:PostCrear' %}"><button type="button" class="btn btn-primary">Crear nuevo post</button></a>
<a href="{% url 'Aplicacion1:Inicio' %}"><button type="button" class="btn btn-light">Refresca</button></a>

<br>
<br>

{% endblock %}
{% block cuerpo %}

{% for posts in object_list %}

<h5><img src="{{posts.user.perfil.perfilImagen.url }}" alt="" width="50" height="50" > <a href="{% url 'Aplicacion1:perfil' posts.user.username %}"> by @{{ posts.user.username}} </a></h5>

<div>
    

    {% if posts.imagen %}
      <img src="{{ posts.imagen.url }}" class="rounded float-start" alt="..." 
      width="1000" height="450">

    {% endif %}
    {% if posts.video %}
      <video width="1000" height="450" class="embed-responsive embed-responsive-16by9" controls="controls">
        <source src="{{ posts.video.url }}" type="video/mp4"/>
      </video>
    {% endif %}


    <div>
      <h5>{{ posts.nombrePost }}</h5>    
      <p>{{ posts.CuerpoPost |safe}}</p>

      <br><br>
      


      <div style="text-align: right">
        <!----comienza boton dropdown---->
        {% if user.id == posts.user.id %}

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <div style="text-align: left">
                
            </div>
              
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:detallePost' posts.id %}">Detalles</a></li>
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:editarPost' posts.id %}">Editar</a></li>
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:post_confirm_delete' posts.id %}">Eliminar</a></li>
              </ul>
            
    
          </div>
          {% endif %}
          <h5 style = "width:500px; float: center">Comentarios</h5>
          <hr>
          
          {% if not posts.comments.all %}
          <a style = "width:60px; float: left" href="{% url 'Aplicacion1:add_comentario' posts.pk %}">
            <button type="button" class="btn btn-primary">Comentar</button>
          </a> 
          <br><br>          
          {% else %}
            <a style = "width:60px; float: left" href="{% url 'Aplicacion1:add_comentario' posts.pk %}">
              <button type="button" class="btn btn-primary">Comentar</button>
            </a> 
            <br><br>
            <p>
              <a style = "width:110px; float: left" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Comentarios
              </a>
              <br><br>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                {% for comment in posts.comments.all %}

              <strong>
                {{comment.user.name}} -
                {{comment.name}} -
                {{comment.date}}
              </strong>
              <br>
              {{comment.body}} 
              <br><br>           
            {% endfor %}
              </div>
            </div>
            
          {% endif %}
    </div>
    </div>
    
  </div>
<br>
<br>
<strong><hr></strong>


{% endfor %}

{% endblock %}