{% extends "Aplicacion1/Padre.html" %}
{% load static %}


{% block seccion_nombre %}
<h1>Listado de posts
</h1>    
<h2>{{mensaje}}</h2>
<br>
<a href="{% url 'Aplicacion1:PostCrear' %}"><button type="button" class="btn btn-primary">Crear nuevo post</button></a>
<a href="{% url 'Aplicacion1:Inicio' %}"><button type="button" class="btn btn-light">Refresca</button></a>

<br>
<br>

{% endblock %}
{% block cuerpo %}

{% for posts in object_list %}

<h5><img src="{{posts.user.perfil.perfilImagen.url }}" alt="" width="50" height="50" > <a href="{% url 'Aplicacion1:perfil' posts.user.username %}"> by @{{ posts.user.username}} </a></h5>

<div>
    

    {% if posts.imagen %}
      <img src="{{ posts.imagen.url }}" class="rounded float-start" alt="..." 
      width="1000" height="450">

    {% endif %}
    {% if posts.video %}
      <video width="1000" height="450" class="embed-responsive embed-responsive-16by9" controls="controls">
        <source src="{{ posts.video.url }}" type="video/mp4"/>
      </video>
    {% endif %}
    <div>
      <h5>{{ posts.nombrePost }}</h5>    
      <p>{{ posts.CuerpoPost |safe}}</p>

      <br><br>
      <form action="{% url 'Aplicacion1:like_post' posts.pk %}" method="POST" >
        {% csrf_token %}

        <button type="submit", name = "post_id", value ="{{ posts.id }}" class="btn btn-primary btn-sm"> like</button>

      </form>
      <div style="text-align: right">
        <!----comienza boton dropdown---->
        {% if user.id == posts.user.id %}

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <div style="text-align: left">
                
            </div>
              
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:detallePost' posts.id %}">Detalles</a></li>
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:editarPost' posts.id %}">Editar</a></li>
                <li><a class="dropdown-item" href="{% url 'Aplicacion1:post_confirm_delete' posts.id %}">Eliminar</a></li>
              </ul>
            
    
          </div>
          {% endif %}
    </div>
    </div>
    
  </div>
<br>
<br>
<hr>


{% endfor %}

{% endblock %}